<ion-header class="ion-no-border">
  <ion-toolbar id="ionic-fondo-toolbar">
  </ion-toolbar>
</ion-header>

<ion-content id="fondo-content" [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Test Config 1</ion-label>
      <ion-toggle slot="end" color="warning" checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Test Config 2</ion-label>
      <ion-toggle slot="end" color="tertiary" checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Test Config 3</ion-label>
      <ion-toggle slot="end" color="success" checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Tema Oscuro (Proximamente)</ion-label>
      <ion-toggle disabled></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
