<ion-header class="ion-no-border">
  <ion-toolbar id="ionic-fondo-toolbar">
      <ion-buttons slot="start">
        <ion-back-button  
          defaultHref="/"
          color="light"
          mode="ios"
          text=""
          icon="arrow-back-outline"
          id="back-button">
        </ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">
        <img src="/assets/img/letrasW.png" class="ionic-img-2">
      </ion-title>
      <ion-buttons slot="end">
        <ion-icon (click)="openMenu()" name="list" class="ionic-icon" color="light"></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>