.ion-img-logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    padding: 10%;
}

.ionic-img-2 {
    padding: 5%;
    width: 150px;
}

.ionic-icon {
    padding-right: 8px;
    font-size: 23px;
    color: light;
}



