.ion-img-logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    padding: 10%;
}

.ionic-img-2 {
    padding: 5%;
    width: 150px;
}

.ionic-icon {
    padding-right: 8px;
    font-size: 23px;
    color: light;
}

#text-welcome {
    color: black;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
    text-align: center;
}

#text-user {
    color: mediumslateblue;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
