<span *ngIf="ingresado=='true'; then logeado else nologeado"></span>
<ng-template #logeado>
  <ion-header class="ion-no-border">
    <ion-toolbar id="ionic-fondo-toolbar">
        <ion-buttons slot="start">
          <ion-back-button  
            defaultHref="/inicio"
            color="light"
            mode="ios"
            text=""
            icon="arrow-back"
            id="back-button">
          </ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">
          <img src="/assets/img/letrasW.png" class="ionic-img-2">
        </ion-title>
        <ion-buttons slot="end">
          <ion-icon (click)="openMenu()" name="list" class="ionic-icon" color="light"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ng-template>
<ng-template #nologeado>
  <ion-header class="ion-no-border">
    <ion-toolbar id="ionic-fondo-toolbar">
        <ion-buttons slot="start">
          <ion-back-button  
            defaultHref="/login"
            color="light"
            mode="ios"
            text=""
            icon="arrow-back"
            id="back-button">
          </ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-center">
          <img src="/assets/img/letrasW.png" class="ionic-img-2">
        </ion-title>
    </ion-toolbar>
  </ion-header>
</ng-template>