<ion-header class="ion-no-border">
  <ion-toolbar id="ionic-fondo-toolbar">
  </ion-toolbar>
</ion-header>

<ion-content id="fondo-content" [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Diggi Attend</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      <p> Fundada en Septiembre del 2022, Diggi-Attend® es una aplicacion encargada de digitalizar el proceso de la asistencia de los alumnos de DuocUC. </p>
      <img src="/assets/img/scan.jpg" alt="scan1">
    </ion-card-content>
  </ion-card>
</ion-content>
