.ion-toolbar-color {
    --background: #6a359c;
}

.text-menu {
    font-family: 'Franklin Gothic Medium';
    color: whitesmoke;
}

.ionic-icon-menu {
    padding: 5%;
    color: black;
}

.ion-menu-content{
    --background: whitesmoke;
}

.ion-item-menu{
    --background: whitesmoke;
}

#label-text-menu{
    color: black;
}

ion-list {
    padding: 0;
    margin: 0;
}

.ionic-icon {
  padding-right: 8px;
  font-size: 23px;
}
