
.text-menu {
    font-family: 'Franklin Gothic Medium';
}

.ionic-icon-menu {
    padding: 5%;
}

.ion-menu-content{
    --background: #3C3B44;
}

.ion-item-menu{
    --background: #3C3B44;
}

ion-list {
    padding: 0;
    margin: 0;
}