.ibutscan {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --background: #9f26a8;
    --border-radius: 10px;
    margin: 20px;
    display: grid;
    justify-content: center;
    --padding-start: 95px;
    --padding-end: 95px;
}