#img {
    margin: auto;
    display: flex;
    align-content: center;
    padding: 10%;
    width: 175px;
    height: 175px;
}

.ibutlog {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --background: #9f26a8;
    --border-radius: 10px;
    margin: 20px;
    display: grid;
    justify-content: center;
    --padding-start: 95px;
    --padding-end: 95px;
}

h1 {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 10%;
    text-align: center;
}

ion-item {
    border-radius: 20px;
    font-size: 1rem;
    border: 2px solid #0f0f0f;
    margin: 0.3rem 2.5rem 0rem 2.5rem;
}

.p-register{
    a{
        font-weight: 500;
        font-style: italic;
        color: rgb(199, 80, 199);
    }
}